In [1]:
import pandas as pd
import numpy as np
import math

## 门店基础信息

poi_id : 门店id

mt_poi_cate2_name : 二级品类（火锅，东北菜）

price_person : 人均价

has_parking_area : 停车位

has_booth : 是否有包厢

is_dining : 是否正轻餐

barea_id : 商圈

mt_score : 美团综合评分

dp_score : 点评综合评分

dp_evn_score : 环境

dp_taste_score : 口味

dp_service_score : 服务

dp_star : 星级

poi_zlf : 门店质量分

poi_rank : 门店排名 KA，A是头，B是腰，C，D是尾

In [27]:
df_poi_info = pd.read_csv('../raw_data/poi_info.txt', sep='\t')

In [28]:
df_poi_info.head(10)

,poi_id,mt_poi_cate2_name,price_person,has_parking_area,has_booth,is_dining,barea_id,mt_score,dp_score,dp_evn_score,dp_taste_score,dp_service_score,dp_star,poi_zlf,poi_rank
0,6856,51,214.0,1,1.0,1.0,13348,48.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN
1,9457,17,104.0,0,0.0,0.0,5023,47.0,87.0,86.0,87.0,86.0,45.0,54.917937,KA
2,9520,17,40.0,1,1.0,0.0,21884,41.0,79.0,80.0,80.0,79.0,40.0,15.338923,C
3,9529,17,44.0,1,0.0,0.0,21894,41.0,76.0,76.0,76.0,75.0,35.0,19.349319,C
4,10573,5,190.0,1,1.0,1.0,13576,30.0,74.0,76.0,74.0,75.0,35.0,55.803014,B
5,12616,40,186.0,1,1.0,1.0,7726,48.0,77.0,86.0,76.0,74.0,35.0,40.669023,KA
6,13012,23,176.0,1,0.0,1.0,5186,30.0,76.0,78.0,77.0,76.0,35.0,126.678827,KA
7,13354,77,78.0,1,1.0,1.0,1074,41.0,89.0,71.0,72.0,79.0,45.0,92.535524,A
8,14407,51,126.0,1,0.0,1.0,7379,50.0,0.0,0.0,0.0,0.0,0.0,191.696570,A
9,14416,17,38.0,0,0.0,0.0,5662,43.0,82.0,81.0,82.0,82.0,40.0,102.284309,B

## 访问数据

poi_pv : 门店访问数

partition_date : 分区的日期

poi_id : 门店id

poi_uv : 用户访问数

deal_id : 项目id

In [34]:
df_poi_deal_pv_train = pd.read_csv('../raw_data/poi_deal_pv_train.txt', sep='\t')

In [41]:
df_poi_deal_pv_train[df_poi_deal_pv_train.deal_id == 47613346]

           deal_id     poi_id  poi_pv  poi_uv partition_date
14214803  47613346  160750826     315      15     2017-03-22
14214804  47613346  160750826      45      15     2017-03-13
14214805  47613346  160750826      15      15     2017-03-18
14214806  47613346  160750826      35      25     2017-03-17
14214807  47613346  160750826      45      15     2017-03-05
14214808  47613346  160750826      45      25     2017-03-21
14214809  47613346  160750826     135      45     2017-03-15
14214810  47613346  160750826      35      15     2017-03-09
14214811  47613346  160750826      35      15     2017-03-19
14214812  47613346  160750826      15      15     2017-03-04

In [42]:
df_deal_train[df_deal_train.deal_id == 47613346]

,deal_id,market_price,price,deal_max_num,deal_min_num,deal_avg_num,time_available,day_unavailable,weekday_unavailable,begin_date,poi_count
1328909,47613346,558.0,346.0,6.0,4.0,5.0,10:30~21:00,"2018-02-15,2018-02-19",NaN,2017-03-22 00:00:00.000,1

In [6]:
df_poi_deal_pv_test = pd.read_csv('../raw_data/poi_deal_pv_test.txt', sep='\t')

In [16]:
df_poi_deal_pv_test.head(5)

    deal_id  poi_id  poi_pv  poi_uv partition_date
0  50641303    6889     515     145     2017-09-12
1  50641303    6889     965     275     2017-08-29
2  50641303    6889     615     135     2017-09-18
3  50641303    6889     645     205     2017-09-05
4  50641303    6889     755     265     2017-09-06

## 用户推荐菜

poi_id : 商户ID

menu_name : ???

In [8]:
df_user_recommended_dish = pd.read_csv('../raw_data/user_recommended_dish.txt', sep='\t')

In [9]:
df_user_recommended_dish.head(5)

     poi_id  menu_name
0   6566309    3457987
1   5866252    3457987
2  40170526    3457987
3   5856510    3457987
4   5923860    3457987

In [24]:
df_user_recommended_dish[df_user_recommended_dish.poi_id == 40170526]

           poi_id  menu_name
2        40170526    3457987
524600   40170526    4307297
525593   40170526    2240025
721675   40170526    2236040
1043935  40170526     507201
1465787  40170526    3076003
1519154  40170526    1640917
2052634  40170526    2771330
2312309  40170526     563473
2416131  40170526    2735791
3405515  40170526     545811
3656744  40170526     428063
3769650  40170526      58585
3812355  40170526    1683194
3837559  40170526    3460324
3872416  40170526    3741948
3904087  40170526    4734093
4044912  40170526    3223158
4264565  40170526    3266756
4337864  40170526    1497556
4362276  40170526    4288425
4472656  40170526    1876911
4476901  40170526    1968358
4565470  40170526    2628255

## 商家推荐菜

menu_name : ???

poi_id : 商户ID

price : 菜品价格

rec_cnt : 推荐次数

In [10]:
df_merchant_recommended_dish = pd.read_csv('../raw_data/merchant_recommended_dish.txt', sep='\t')

In [11]:
df_merchant_recommended_dish.head(5)

      poi_id  price  rec_cnt  menu_name
0    2452017   14.0       10    3192575
1  164580933   22.0       10      93355
2  163991384    NaN       10    1392436
3   40242461   48.0       10     431080
4   40242461   46.0       10    1269049

## 菜品搭配

deal_id : 项目id

menu_name : 菜品名称
 
dishes_price : 菜品单价

dishes_group_name : 菜品集，荤菜，肉类，素菜，烤鱼，人气王之类

dish_tag : 菜的标签

 
整理后的菜品名

建议只使用菜品分类：主食、酒水饮品，汤羹粥，小食，菜品和果蔬生鲜，冷热标签准确率不是很好，荤素准确率可以使用， 可烤，不可烤标签可以使用

In [12]:
df_dish_train = pd.read_csv('../raw_data/dish_train.txt', sep='\t')
df_dish_test = pd.read_csv('../raw_data/dish_test.txt', sep='\t')

In [13]:
df_dish_train.head(5)

    deal_id  dishes_price  dishes_group_name  menu_name dish_tag
0  48231610            86              17880    3340928  12|9|11
1  47742012           666             115752    3854864        7
2  47613346            74             163405    2808488  12|9|11
3  46969875            34              43952    3511080  12|9|10
4  47730420            32             116204    1836316   12|1|2

In [22]:
df_dish_test[10000:110000]

         deal_id  dishes_price  dishes_group_name  menu_name  dish_tag
10000   50373002            42              99129    1436708       NaN
10001   50075728           106              22890    1276635     12|11
10002   49830437            10             210799    2396315   12|9|11
10003   50240988           246              49914    2851516   12|9|11
10004   49676235            26              35847    3565240   12|9|10
10005   49556269            40              31890    2206535     6|1|2
10006   50240997            86             192669    4828331   12|9|10
10007   49579336            12              49590    4700345   12|1|10
10008   49586598           102              22890    4784397   12|9|11
10009   49587092           166             201240    2382594   12|9|11
10010   49595901            12              49590    4477330     12|10
10011   49770407            14              49590    4477330     12|10
10012   49597930           306              72728    2885044   12|9|11
10013   49601818            30              49590    2070497      6|10
10014   49602243            34             182505    3158933    12|3|4
10015   49605698            42              31542     570438    6|9|11
10016   49804920            18              49590    1918212     12|10
10017   49612071           106             105299     583655   12|9|11
10018   49628696            16             158354    3867018   12|9|11
10019   49628588            16             158354    3867018   12|9|11
10020   49658280            34             182505    4784158    12|3|4
10021   49634930            30             228957    1705821     6|1|2
10022   49682898            30             158354    4725817   12|9|10
10023   49647546            50              74150     570438    6|9|11
10024   49652908            30              46868    3834648      6|11
10025   49657629            60              49590    2227054      9|11
10026   49658141            40             227094     911523       6|7
10027   49662137            54              76959    2814280   12|9|10
10028   49664960           106              49590    3043857   12|9|11
10029   49667990            46              32216    1360483       6|7
...          ...           ...                ...        ...       ...
109970  50475497            54              49590    1755003  12|3|5|4
109971  50637856           650             115752    2116270        11
109972  50197254            86              31890    4569997   12|9|11
109973  50280706            50             228957     235317     6|1|2
109974  50189975            46              48693    2734811     12|11
109975  50136571            40             113912    1788698      6|11
109976  49924929            34               8410    3584830       1|7
109977  49705718            16               2517     185184        11
109978  49594990           166             158354    3495836   12|9|11
109979  49603135            30              82422    2806411         7
109980  49602619            30              49313    3824724   12|9|11
109981  49633360            40             194767    3002089   12|9|11
109982  49822849            88              31890    4198588      12|9
109983  49628067           134             194562    1830676   12|9|11
109984  49630238            34             194767      59945    12|9|4
109985  49662692           146              22890    3528030   12|9|11
109986  49651117            30              49590    3354143   12|3|10
109987  49652556            34              81974    3927032      3|11
109988  50029527            28             228957    1275676       6|2
109989  50090397            38             183242    4261449   12|9|11
109990  49671553            48              31890    2859850   12|9|11
109991  49790214            82              42663     293279   12|9|11
109992  49807898            84             114513    5030743   12|9|11
109993  49458381            66              48693    4414549      3|11
109994  50085633           126              22890    1616570    6|9|11
109995  49479358            10             209264    2380911   12|9|11
109996  49431147            10             209264    2380911   12|9|11
109997  49535408            10             209264    4654960     6|1|7
109998  49750799            20             158354     185184        11
109999  50698583            50             156836    4273278   12|9|11

[100000 rows x 5 columns]

## 套餐信息

deal_id : 项目id

begin_date : 上线日期

market_price : 原价

price : 卖价

deal_max_num : 最大用餐人数

deal_min_num : 最小用餐人数

deal_avg_num : 评价用餐人数

time_available(17:00~21:00,11:00~14:00) : 使用时间

day_unavailable(2018-01-31,2018-02-23) : 不可用时间

weekday_unavailable (6,7) : 不可用时间

poi_count : 套餐可用门店数

In [29]:
df_deal_train = pd.read_csv('../raw_data/deal_train.txt', sep='\t')
df_deal_test = pd.read_csv('../raw_data/deal_test.txt', sep='\t')

In [30]:
df_deal_train.head(5)

,deal_id,market_price,price,deal_max_num,deal_min_num,deal_avg_num,time_available,day_unavailable,weekday_unavailable,begin_date,poi_count
0,43994825,226.0,190.0,NaN,NaN,NaN,9:00~20:00,NaN,NaN,2017-04-28 00:00:00.000,1
1,44942514,126.0,88.0,3.0,2.0,3.0,10:00~22:00,"2018-02-15,2018-02-22",NaN,2016-12-22 00:00:00.000,1
2,44975582,24.0,21.8,1.0,1.0,1.0,10:30~21:00,NaN,NaN,2017-04-18 00:00:00.000,1
3,40827738,40.0,33.8,1.0,1.0,1.0,NaN,NaN,NaN,2017-02-26 00:00:00.000,1
4,43151667,496.0,306.0,4.0,4.0,4.0,10:00~21:00,NaN,NaN,2017-06-09 00:00:00.000,1

In [69]:
df_deal_train['new_begin_date'] = df_deal_train.begin_date.apply(lambda x : x.split(' ')[0])
df_deal_train.head(5)

,deal_id,market_price,price,deal_max_num,deal_min_num,deal_avg_num,time_available,day_unavailable,weekday_unavailable,begin_date,poi_count,new_begin_date
0,43994825,226.0,190.0,NaN,NaN,NaN,9:00~20:00,NaN,NaN,2017-04-28 00:00:00.000,1,2017-04-28
1,44942514,126.0,88.0,3.0,2.0,3.0,10:00~22:00,"2018-02-15,2018-02-22",NaN,2016-12-22 00:00:00.000,1,2016-12-22
2,44975582,24.0,21.8,1.0,1.0,1.0,10:30~21:00,NaN,NaN,2017-04-18 00:00:00.000,1,2017-04-18
3,40827738,40.0,33.8,1.0,1.0,1.0,NaN,NaN,NaN,2017-02-26 00:00:00.000,1,2017-02-26
4,43151667,496.0,306.0,4.0,4.0,4.0,10:00~21:00,NaN,NaN,2017-06-09 00:00:00.000,1,2017-06-09

In [66]:
df_deal_train[~pd.isna(df_deal_train.weekday_unavailable)].head(3000)

,deal_id,market_price,price,deal_max_num,deal_min_num,deal_avg_num,time_available,day_unavailable,weekday_unavailable,begin_date,poi_count
10,46035766,474.00,406.00,3.0,2.0,3.0,11:00~14:00,NaN,"6,7",2016-12-07 00:00:00.000,1
123,46578235,562.00,406.00,2.0,2.0,2.0,14:00~21:00,"2017-12-24,2017-12-25","6,7",2017-01-08 00:00:00.000,1
147,46686103,40.00,29.80,1.0,1.0,1.0,13:00~18:00,NaN,6,2017-01-16 00:00:00.000,1
153,46725618,11.00,10.22,2.0,2.0,2.0,NaN,"2017-12-24,2017-12-25","1,2,3,4,6,7",2017-01-19 00:00:00.000,1
160,46751628,310.00,206.00,1.0,1.0,1.0,14:30~18:00,NaN,"1,2,3,4,5",2017-01-24 00:00:00.000,1
174,46826392,566.00,500.00,4.0,3.0,4.0,11:00~21:00,"2017-12-24,2017-12-25","6,7",2017-01-26 00:00:00.000,1
192,46932360,214.00,168.00,2.0,2.0,2.0,10:30~22:00,NaN,"6,7",2017-02-01 00:00:00.000,1
203,46979214,466.00,310.00,1.0,1.0,1.0,NaN,NaN,"1,2,3,4,5",2017-02-08 00:00:00.000,1
221,47046639,162.00,78.00,1.0,1.0,1.0,NaN,"2018-02-15,2018-02-22","6,7",2017-02-09 00:00:00.000,1
262,47217678,210.00,148.00,2.0,2.0,2.0,"16:30~21:30,11:00~14:00",NaN,"6,7",2017-02-27 00:00:00.000,1
268,47241105,108.00,69.60,1.0,1.0,1.0,10:00~14:00,"2018-02-15,2018-02-18","6,7",2017-02-20 00:00:00.000,1
270,47254566,626.00,486.00,5.0,4.0,5.0,10:30~21:30,"2018-02-06,2018-02-22","6,7",2017-03-04 00:00:00.000,1
281,47327201,220.00,170.00,2.0,2.0,2.0,10:30~14:00,NaN,"5,6,7",2017-02-25 00:00:00.000,1
288,47368845,6190.00,4326.00,10.0,8.0,9.0,"10:30~14:30,16:30~22:30","2017-10-01,2017-10-08","6,7",2017-02-28 00:00:00.000,1
299,47405733,12.00,11.00,1.0,1.0,1.0,02:00~03:00,NaN,"1,2,3,4,5,6",2017-03-02 00:00:00.000,1
380,47844588,178.00,126.00,2.0,2.0,2.0,10:00~21:30,"2017-10-01,2017-10-06","6,7",2017-04-01 00:00:00.000,2
455,48179556,144.00,117.20,1.0,1.0,1.0,10:00~14:30,NaN,"5,6,7",2017-04-21 00:00:00.000,1
459,48208892,338.00,266.00,4.0,3.0,4.0,NaN,"2018-06-16,2018-06-18","6,7",2017-04-26 00:00:00.000,1
479,48270408,66.00,48.00,1.0,1.0,1.0,10:00~14:00,NaN,"6,7",2017-04-26 00:00:00.000,1
485,48299744,792.00,542.00,6.0,6.0,6.0,11:00~13:30,NaN,"6,7",2017-04-29 00:00:00.000,1
489,48312992,1142.00,806.00,4.0,4.0,4.0,10:30~16:00,NaN,"6,7",2017-05-05 00:00:00.000,1
537,48565419,445.60,366.00,1.0,1.0,1.0,NaN,NaN,"1,2,3,4,5,6",2017-05-14 00:00:00.000,1
550,48611072,1190.00,606.00,4.0,4.0,4.0,11:30~21:00,NaN,7,2017-05-17 00:00:00.000,1
574,48736458,434.00,338.00,4.0,4.0,4.0,10:00~21:00,"2018-02-15,2018-02-21","6,7",2017-05-24 00:00:00.000,1
575,48746151,126.00,86.00,1.0,1.0,1.0,11:00~21:00,NaN,"6,7",2017-05-26 00:00:00.000,1
593,48825410,110.00,89.80,4.0,3.0,4.0,NaN,NaN,"1,2,3,4,5",2017-05-29 00:00:00.000,1
597,48845981,502.00,386.00,2.0,2.0,2.0,"17:00~21:00,11:00~14:00",NaN,"6,7",2017-05-31 00:00:00.000,1
611,48914836,100.00,80.00,1.0,1.0,1.0,12:00~14:00,"2018-02-15,2018-02-21","6,7",2017-06-04 00:00:00.000,1
649,49078323,42.00,23.60,1.0,1.0,1.0,10:00~23:00,"2018-02-15,2018-02-21","6,7",2017-06-26 00:00:00.000,1
700,49386096,126.00,114.00,1.0,1.0,1.0,NaN,"2018-12-24,2018-12-25","6,7",2017-07-08 00:00:00.000,1
...,...,...,...,...,...,...,...,...,...,...,...
108601,49078343,38.00,25.60,1.0,1.0,1.0,10:00~23:00,"2018-12-24,2018-12-25","6,7",2017-06-26 00:00:00.000,1
108607,49102971,206.00,126.00,2.0,1.0,2.0,11:00~14:00,NaN,"6,7",2017-06-18 00:00:00.000,1
108643,49263116,366.00,67.60,1.0,1.0,1.0,NaN,"2018-02-15,2018-02-16","1,2,3,4",2017-06-29 00:00:00.000,1
108674,49405759,588.34,486.00,1.0,1.0,1.0,NaN,"2018-02-19,2018-02-22","5,6,7",2017-07-12 00:00:00.000,1
108703,45937869,386.00,306.00,2.0,2.0,2.0,11:00~16:30,NaN,"6,7",2016-12-21 00:00:00.000,1
108730,46132564,1916.00,1546.00,10.0,10.0,10.0,11:00~22:00,NaN,"6,7",2016-12-17 00:00:00.000,1
108765,46279947,58.00,49.80,2.0,2.0,2.0,10:00~22:00,NaN,"1,2,3,4",2017-02-18 00:00:00.000,1
108871,46807967,322.00,228.00,3.0,2.0,3.0,10:30~13:30,NaN,"6,7",2017-01-25 00:00:00.000,4
108903,46973583,706.00,546.00,6.0,5.0,6.0,"10:00~14:00,16:30~22:00","2017-10-01,2017-10-08","6,7",2017-02-06 00:00:00.000,1
109152,48095622,270.00,150.00,1.0,1.0,1.0,18:00~22:30,"2018-02-15,2018-02-21","5,6",2017-04-16 00:00:00.000,1
109157,48140821,120.00,114.00,1.0,1.0,1.0,NaN,"2018-02-01,2018-02-08","6,7",2017-04-19 00:00:00.000,1
109158,48144376,574.00,456.00,6.0,5.0,6.0,NaN,"2018-02-11,2018-02-22","6,7",2017-04-20 00:00:00.000,1
109163,48182919,310.00,186.00,2.0,2.0,2.0,11:00~14:00,"2018-02-13,2018-03-02","6,7",2017-04-21 00:00:00.000,1
109170,48215810,266.00,186.00,2.0,2.0,2.0,11:00~14:00,NaN,"6,7",2017-04-23 00:00:00.000,1
109171,48220795,80.00,62.00,1.0,1.0,1.0,NaN,NaN,"6,7",2017-04-22 00:00:00.000,3
109191,48295997,102.00,74.00,1.0,1.0,1.0,10:00~21:30,NaN,"6,7",2017-04-29 00:00:00.000,1
109208,48367206,312.00,250.00,4.0,3.0,4.0,11:00~20:00,"2017-11-26,2017-12-01","6,7",2017-05-03 00:00:00.000,1
109246,48551493,206.00,109.80,2.0,2.0,2.0,11:00~22:00,NaN,"6,7",2017-05-12 00:00:00.000,1
109248,48562873,98.00,68.00,2.0,2.0,2.0,11:00~23:00,NaN,"1,2,3,4,5,6,7",2017-05-13 00:00:00.000,1
109268,48646615,472.00,328.00,4.0,4.0,4.0,10:00~22:00,NaN,"6,7",2017-05-19 00:00:00.000,1
109273,48663418,67.60,61.20,1.0,1.0,1.0,09:00~21:00,NaN,"1,2,4,5,6,7",2017-05-19 00:00:00.000,1
109288,48742175,364.00,186.00,2.0,2.0,2.0,11:00~21:00,"2018-02-14,2018-02-21","1,2,3,4,5",2017-05-27 00:00:00.000,1
109290,48743605,2186.00,1786.00,1.0,1.0,1.0,NaN,NaN,"1,2,3,4,5,6",2017-05-25 00:00:00.000,2
109354,49028923,946.00,658.00,6.0,6.0,6.0,NaN,"2018-12-30,2019-01-01","6,7",2017-06-30 00:00:00.000,1
109405,49241345,210.00,108.00,2.0,1.0,2.0,9:00~22:00,NaN,"6,7",2017-06-29 00:00:00.000,1
109473,48493741,26.00,21.80,1.0,1.0,1.0,11:00~21:00,"2017-02-14,2017-02-14","6,7",2017-05-08 00:00:00.000,1
109505,48701455,1626.00,1050.00,2.0,2.0,2.0,NaN,"2017-12-15,2017-12-22","1,2,3,4,5",2017-05-21 00:00:00.000,1
109521,48785197,526.00,446.00,1.0,1.0,1.0,NaN,NaN,"1,2,3,4,5,6",2017-05-27 00:00:00.000,1
109540,48849067,630.00,326.00,2.0,2.0,2.0,11:00~21:00,NaN,"1,2,3,4,5",2017-05-31 00:00:00.000,1
109558,48931395,106.00,86.00,NaN,NaN,NaN,08:15~21:15,NaN,"1,2,3,4,5,6,7",2017-06-05 00:00:00.000,1

In [33]:
df_deal_train[df_deal_train.deal_id == 46015424]

,deal_id,market_price,price,deal_max_num,deal_min_num,deal_avg_num,time_available,day_unavailable,weekday_unavailable,begin_date,poi_count
1488793,46015424,28.0,21.8,1.0,1.0,1.0,NaN,NaN,NaN,2016-12-07 00:00:00.000,1

In [38]:
df_deal_test.head(5)

,deal_id,market_price,price,deal_max_num,deal_min_num,deal_avg_num,time_available,day_unavailable,weekday_unavailable,begin_date,poi_count
0,49586251,28.0,21.6,1.0,1.0,1.0,10:30~21:00,NaN,NaN,2017-08-05,1
1,49586266,66.0,49.2,1.0,1.0,1.0,10:00~21:00,NaN,NaN,2017-08-05,1
2,49586416,166.0,69.8,2.0,1.0,2.0,10:00~22:00,NaN,NaN,2017-08-19,1
3,49586551,70.0,60.0,1.0,1.0,1.0,10:30~20:30,NaN,NaN,2017-08-06,1
4,49586641,70.0,49.6,1.0,1.0,1.0,9:00~22:00,NaN,NaN,2017-08-09,1

In [43]:
len(df_deal_train[df_deal_train.poi_count > 1])

71477

In [44]:
len(df_deal_train)

1545981

## 套餐销量

deal_id : 项目id

poi_id : 门店id

sales : 项目销量

In [39]:
df_deal_sales_train = pd.read_csv('../raw_data/deal_sales_train.txt', sep='\t')

In [40]:
df_deal_sales_train.head(5)

    deal_id   poi_id  sales
0  25157093  4111280     46
1  27536586  5548875     16
2  27559562   815585     12
3  27559562   815586     12
4  27851864  4496366     14

## 套餐与门店关系

In [41]:
df_deal_poi_test = pd.read_csv('../raw_data/deal_poi_test.txt', sep='\t')

In [42]:
df_deal_poi_test.head(5)

    deal_id  poi_id
0  50162920    4665
1  50258846    5814
2  49575632    6889
3  50470857    6890
4  50398782    9247